APP_PROFILE=test
DB_URL=
DB_USERNAME=
DB_PASSWORD=
JWT_DURATION=
JWT_PRIVATE_KEY_BASE64=
JWT_PUBLIC_KEY_BASE64=
CORS_ORIGINS=
FRONTEND_URL=
RESEND_API_KEY=
RESEND_FROM=
COOKIE_SECURE=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=